<div class="metricas-container">

  <button class="back-btn" routerLink="/admin">
    ← Volver al panel
  </button>

  <h1>📊 Métricas IA</h1>

    <div class="cards-container">

    <div class="card-metrica">
        <h3>🎯 Accuracy</h3>
        <p>{{ resumen.accuracy }}%</p>
    </div>

    <div class="card-metrica">
        <h3>📌 Precision</h3>
        <p>{{ resumen.precision }}%</p>
    </div>

    <div class="card-metrica">
        <h3>📈 Recall</h3>
        <p>{{ resumen.recall }}%</p>
    </div>

    <div class="card-metrica">
        <h3>⚖️ F1 Score</h3>
        <p>{{ resumen.f1_score }}%</p>
    </div>

    <div class="card-metrica">
        <h3>⚡ Tiempo Promedio</h3>
        <p>{{ resumen.tiempo_promedio_ms }} ms</p>
    </div>

    </div>

    <div class="charts-grid">
    <div class="chart-card">
      <h3>📊 Rendimiento IA</h3>
      <canvas id="metricasChart"></canvas>
    </div>
  </div>

  <table>

    <thead>
      <tr>
        <th>Pregunta</th>
        <th>Intent</th>
        <th>Tiempo</th>
        <th>Correcta</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let m of metricas">

        <td>{{ m.pregunta }}</td>

        <td>{{ m.intencion_detectada }}</td>

        <td>{{ m.tiempo_respuesta_ms }} ms</td>

        <td>

          <span *ngIf="m.respuesta_correcta === true">
            ✅
          </span>

          <span *ngIf="m.respuesta_correcta === false">
            ❌
          </span>

          <span *ngIf="m.respuesta_correcta === null">
            ⏳
          </span>

        </td>

        <td>

          <button (click)="evaluar(m.id, true)">
            Correcta
          </button>

          <button (click)="evaluar(m.id, false)">
            Incorrecta
          </button>

        </td>

      </tr>

    </tbody>

  </table>

</div>