<div class="metricas-container">

  <button class="back-btn" routerLink="/admin">
    ← Volver al panel
  </button>

  <h1> Métricas IA</h1>

    <div class="cards-container">

    <div class="card-metrica">
      
        <h3>Accuracy</h3>
        <p>{{ resumen.accuracy }}%</p>
    </div>

    <div class="card-metrica">
        <h3>Precision</h3>
        <p>{{ resumen.precision }}%</p>
    </div>

    <div class="card-metrica">
        <h3>Recall</h3>
        <p>{{ resumen.recall }}%</p>
    </div>

    <div class="card-metrica">
        <h3>F1 Score</h3>
        <p>{{ resumen.f1_score }}%</p>
    </div>

    <div class="card-metrica">
        <h3>Tiempo Promedio</h3>
        <p>{{ resumen.tiempo_promedio_ms }} ms</p>
    </div>

    </div>

    <div class="export-container">
    <button class="export-btn" (click)="exportarExcel()">
      Exportar Excel
    </button>
  </div>

  <div class="charts-grid">

    <div class="chart-card">
      <h3>Rendimiento IA</h3>
      <canvas id="metricasChart"></canvas>
    </div>

    <div class="chart-card">
      <h3>Accuracy por intención</h3>
      <canvas id="intentChart"></canvas>
    </div>

  </div>

  <table>

    <thead>
      <tr>
        <th>Pregunta</th>
        <th>Respuesta IA</th>
        <th>Intent detectado</th>
        <th>Intent correcto</th>
        <th>Tiempo</th>
        <th>Respuesta correcta</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let metrica of metricas">

        <td>{{ metrica.pregunta }}</td>

        <td class="respuesta-cell">
          {{ metrica.respuesta }}
        </td>

        <td>{{ metrica.intencion_detectada }}</td>

        <td>
          <select [(ngModel)]="metrica.intencion_correcta">
            <option value="">Seleccionar</option>
            <option value="appointment">appointment</option>
            <option value="services">services</option>
            <option value="inventory">inventory</option>
            <option value="schedule">schedule</option>
            <option value="info">info</option>
            <option value="saludo">saludo</option>
            <option value="appointment_pending">appointment_pending</option>
          </select>
        </td>

        <td>{{ metrica.tiempo_respuesta_ms }} ms</td>

        <td>
          <span *ngIf="metrica.respuesta_correcta === 1">✅</span>
          <span *ngIf="metrica.respuesta_correcta === 0">❌</span>
          <span *ngIf="metrica.respuesta_correcta === null">⏳</span>
        </td>

        <td class="actions-cell">
          <button 
            class="btn-correcta"
            (click)="evaluar(metrica.id, true, metrica.intencion_correcta)">
            Correcta
          </button>

          <button 
            class="btn-incorrecta"
            (click)="evaluar(metrica.id, false, metrica.intencion_correcta)">
            Incorrecta
          </button>
        </td>

      </tr>

    </tbody>

  </table>

</div>