<div class="dni-container">

  <div class="card">

    <h1>Taller Reyes Polo</h1>

    <p class="subtitle">
      Identifícate con tu DNI
    </p>

    <input
      type="text"
      maxlength="8"
      [(ngModel)]="dni"
      placeholder="Ingrese su DNI"
      (keydown.enter)="ingresar()"
    />

    <button
      (click)="ingresar()"
      [disabled]="cargando">

      {{ cargando ? 'Validando...' : 'Continuar' }}

    </button>

    <p class="error" *ngIf="error">
      {{ error }}
    </p>

  </div>

</div>